<!doctype html>
<html>
    <head>
    <title>Meadowlark Travel</title>
        {{!-- {{{_sections.head}}} --}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>

{{!-- extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack} --}}
